{% extends "article/base.html" %}
{% load humane_date %}
{% load profile %}
{% load emarkdown %}

{% block title %}
    Articles rédigés par {{ usr.username }}
{% endblock %}

{% block headline %}
    Articles rédigés par "{{ usr.username }}""
{% endblock %}

{% block breadcrumb %}
    {% with profile=usr|profile %}
        <li ><a href="{{ profile.get_absolute_url }}">{{ usr.username }}</a></li>
    {% endwith %}
    <li ><a href="{% url "pdp.article.views.find_article" usr.username %}">Articles rédigés</a></li>
    <li class="current"><a href="#">Recherche</a></li>
{% endblock %}

{% block content %}
    <div class="row">
        <table>
          <thead>
            <tr>
              <th width="15%">Article</th>
              <th width="10%">Quand</th>
              <th width="30%">Extrait</th>
            </tr>
          </thead>
          <tbody>
            {% for article in articles %}
            <tr>
                <td>
                    <div>
                        <img src="{{ article.thumbnail.url }}" />
                        <a href="{{ article.get_absolute_url }}">{{ article.title }} </a> 
                        {% if article.description %} <p> {{ article.description }} </p> {% endif %}
                    </div>
                </td>
                <td>
                    {% with date=article.pubdate|humane_date %}
                        {{ date }}
                    {% endwith %}
                </td>
                <td>
                    {{ article.text|truncatechars:200|emarkdown }}
                </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

{% endblock %}
